body{
  color: #252525;
  background: url('../images/DeathtoStock_NotStock10.jpg');
  background-position: center;
  background-attachment: fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  padding: 0px !important;
  margin: 0 auto !important;
}
#container {
  background: rgba(255, 255, 255, 0.9);
  float: right;
  margin-top: 40px;
  width: 30%;
  max-height: 50%;
  padding: 5px 0px 10px 20px;
  border-bottom-left-radius: 5px;
  border-top-left-radius: 0px;
}
h1 {
  font-size: 3.5em;
  font-family: Lora, serif;
  line-height: .8;
  margin: 30px 0px 30px 4px;
}
h3 {
  color: white;
  background: #CFC6C2;
  border-bottom-left-radius: 5px;
  padding: 10px;
  margin: 15px 0 15px;
  font-family: Lato,sans-serif;
  font-size: 1.25em;
  letter-spacing: 1.25px;
}
p {
  color: #3b3b3b;
  padding: 5px 30px 5px 10px;
  line-height: 20px;
  margin: 0;
  font-size: .9em;
  font-family: Lato,sans-serif;
}
a {
  color: #FF9A6B;
  text-decoration: none;
}
ul {
  padding: 0 0 0 5px;
    display: block;
  list-style-type: disc;
  -webkit-margin-before: 1em;
  -webkit-margin-after: 1em;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;
  -webkit-padding-start: 40px;
}
#socialicons {
  list-style-type: none;
  position: relative;
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
#navlist li, #navlist a{
  display:block;
  float: left;
  height: 30px;
  margin: 10px 0 0;
  overflow: hidden;
  text-indent: 100%;
  white-space: nowrap;
  width: 32px;
}
#instagram {
  display:inline-block;
}
li#instagram a{
  left: 0;
  height: 34px;
  width: 39px;
  background: url("/resume/images/sprites.png") repeat scroll 107px 0px rgba(0, 0, 0, 0);
  display: block;
  }
}
#google {
  display: inline-block;
}
li#google a{
  display:block;
  left: 0;
  height: 34px;
  width: 36px;
  background: url("/resume/images/sprites.png") repeat scroll 233px 0px rgba(0, 0, 0, 0);

}
#linkedin {
  display:inline-block;
}
li#linkedin a{
  height: 34px;
  width: 38px;
  background: url("/resume/images/sprites.png") repeat scroll 141px 0px rgba(0, 0, 0, 0);
  display: block;
  }
}
footer {
  position: absolute;
  bottom: 10px;
}